<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent choose">
              <span>关于浙银</span>
              <span class="line wow" style="display: block;"></span>
            </a>
            <div class="submenu">
               <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" >
              <span>集团产业</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./group.html">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html">
              <span>新闻中心</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content">
      <div class="typepage">
        <div class="">
        <h1 class="mk" style="margin-bottom: 225px">
          企业文化
        </h1>
         <div class="culture">
                    <div class="culturitem">
                        <a href="./cultrue.html">
                            <div class="culheader">
                                愿景
                            </div>
                            <div class="culimg">
                                <img src="./img/hope.png" alt="">
                            </div>
                            <div class="culfooter">
                                国内供应链金融龙头企业<br />激活实体产业链条运转
                            </div>
                        </a>
                    </div>
                    <div class="culturitem" style="margin-top: -100px">
                        <a href="./cultrue.html">
                            <div class="culheader">
                                使命
                            </div>
                            <div class="culimg">
                                <img src="./img/inspire.png" alt="">
                            </div>
                            <div class="culfooter">
                                助力中小企业发展<br />推动产业经济转型
                            </div>
                        </a>
                    </div>
                    <div class="culturitem">
                        <a href="./cultrue.html">
                            <div class="culheader">
                                精神
                            </div>
                            <div class="culimg">
                                <img src="./img/revolution.png" alt="">
                            </div>
                            <div class="culfooter">
                                践行“商业信用”第一<br />互帮互助共同发展
                            </div>
                        </a>
                    </div>
                </div>
      </div>
      </div>
    </div>
    <div class="idea">
      <h1 class="mk">
        核心理念
      </h1>
      <ul>
        <li>以核心企业为出发点</li>
        <li>长期协同战略合作</li>
        <li>注入资金血脉</li>
        <li>提高中小企业竞争力</li>
        <li>强势整合供应链</li>
        <li>提高产业资源流通价值</li>
      </ul>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
</body>
</html>
