<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent ">
              <span>关于浙银</span>
              <span class="line wow" ></span>
            </a>
            <div class="submenu">
               <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" >
              <span>集团产业</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="#" class="choose">
              <span>集团成员</span>
              <span class="line wow" style="display: block;"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html">
              <span>新闻中心</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content">
      <div class="typepage">
        <div class="">
        <h1 class="mk">
          集团成员
        </h1>
        <div class="tree">

          <div class="right lefttree wow fadeInUp">
            <div class="left leaf">
              <p>北京浙银资产管理有限公司</p>
              <p class="address">总部:</p>
              <p class="address">电话:</p>
              <p class="address">地址:</p>
            </div>
            <div class="right leaf">
              <div class="imgwrap">
                <img src="./img/gyl.png" width="100" height="100" alt="">
              </div>
              <p>2017/02/02</p>
            </div>
          </div>
          <div class="clear"></div>

          <div class="left righttree wow fadeInUp">
            <div class="left leaf">
              <div class="imgwrap">
                <img src="./img/gyl.png" width="100" height="100" alt="">
              </div>
              <p>2017/02/02</p>
            </div>
            <div class="left leaf leftpart">
              <p class="address">总部:</p>
              <p class="address">电话:</p>
              <p class="address">地址:</p>
              <p>北京浙银资产管理有限公司</p>
            </div>
          </div>
          <div class="clear"></div>

          <div class="right lefttree wow fadeInUp">
            <div class="left leaf">
              <p>北京浙银资产管理有限公司</p>
              <p class="address">总部:</p>
              <p class="address">电话:</p>
              <p class="address">地址:</p>
            </div>
            <div class="right leaf">
              <div class="imgwrap">
                <img src="./img/gyl.png" width="100" height="100" alt="">
              </div>
              <p>2017/02/02</p>
            </div>
          </div>
          <div class="clear"></div>

           <div class="left righttree wow fadeInUp">
            <div class="left leaf">
              <div class="imgwrap">
                <img src="./img/gyl.png" width="100" height="100" alt="">
              </div>
              <p>2017/02/02</p>
            </div>
            <div class="left leaf leftpart">
              <p class="address">总部:</p>
              <p class="address">电话:</p>
              <p class="address">地址:</p>
              <p>北京浙银资产管理有限公司</p>
            </div>
          </div>
          <div class="clear"></div>

          <div class="right lefttree wow fadeInUp">
            <div class="left leaf">
              <p>北京浙银资产管理有限公司</p>
              <p class="address">总部:</p>
              <p class="address">电话:</p>
              <p class="address">地址:</p>
            </div>
            <div class="right leaf">
              <div class="imgwrap">
                <img src="./img/gyl.png" width="100" height="100" alt="">
              </div>
              <p>2017/02/02</p>
            </div>
          </div>
          <div class="clear"></div>

           <div class="left righttree wow fadeInUp">
            <div class="left leaf">
              <div class="imgwrap">
                <img src="./img/gyl.png" width="100" height="100" alt="">
              </div>
              <p>2017/02/02</p>
            </div>
            <div class="left leaf leftpart">
              <p class="address">总部:</p>
              <p class="address">电话:</p>
              <p class="address">地址:</p>
              <p>北京浙银资产管理有限公司</p>
            </div>
          </div>
          <div class="clear"></div>

        </div>
      </div>
      </div>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
</body>
</html>
