<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
     <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent choose">
              <span>关于浙银</span>
              <span class="line wow" style="display: block;"></span>
            </a>
            <div class="submenu">
               <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" >
              <span>集团产业</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="#">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html">
              <span>新闻中心</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content">
    	<div class="inbuilding">
    		<!-- <img src="./img/buildicon.png" alt=""> -->
        <span class="icon-building" style="font-size: 100px"></span>
    		<p>网站建设中...</p>
    	</div>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
</body>
</html>
