<!DOCTYPE html>
<html>
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
      <!-- 头部 -->
      <div class="header">
          <div class="navs">
              <ul>
                  <li class="wow fadeInDown about choose" data-wow-duration="2s">
                      <a href="" class="parent choose">
            <span>关于浙银</span>
            <span class="line wow" style="display: block;"></span>
          </a>
                      <div class="submenu">
                          <span><a href="/intruduce.html">集团简介</a></span>
                          <span><a href="/cultrue.html">企业文化</a></span>
                          <span><a href="/society.html">社会责任</a></span>
                          <span><a href="/honor.html">企业荣誉</a></span>
                      </div>
                  </li>
                  <li class="wow fadeInDown" data-wow-duration="2s">
                      <a href="/industry.html">
            <span>集团产业</span>
            <span class="line wow"></span>
          </a>
                  </li>
                  <li class="wow fadeInDown" data-wow-duration="2s">
                      <a href="/group.html">
            <span>集团成员</span>
            <span class="line wow"></span>
          </a>
                  </li>
                  <li class="wow fadeInDown" data-wow-duration="2s">
                      <a href="/index.html">
            <span class="icon-logo logo"></span>
            <p>浙银资产</p>
          </a>
                  </li>
                  <li class="wow fadeInDown" data-wow-duration="2s">
                      <a href="/news.html">
            <span>新闻中心</span>
            <span class="line wow"></span>
          </a>
                  </li>
                  <li class="wow fadeInDown" data-wow-duration="2s">
                      <a href="/cooperation.html">
            <span>战略合作</span>
            <span class="line wow"></span>
          </a>
                  </li>
                  <li class="wow fadeInDown" data-wow-duration="2s">
                      <a href="/touchUs.html">
            <span>联系我们</span>
            <span class="line wow"></span>
          </a>
                  </li>
              </ul>
          </div>
          <h1>
      产融一体化 <br />绿色金融产业集团
    </h1>
          <div class="down">
              <div class="wow fadeInDown" data-wow-duration="2s" data-wow-iteration="infinite">
                  <span class="icon-down"></span>
              </div>
              <span>下拉</span>
          </div>
      </div>
      <!-- 内容 -->
      <div class="containers">
          <div class="sectionOne wow fadeInLeft" data-wow-duration="2s">
              <h1>公司介绍</h1>
              <p>北京浙银控股集团有限公司（筹）由在京浙商联合投资设立，注册资金人民币一亿元，集聚了浙江、上海、北京等地金融、资本、产业力量与资源，是一家多元化民营投资控股集团，总部位于中国北京。</p>
              <p style="color: #D2C090;margin-top: 30px">Beijing, zhejiang silver holdings group co., LTD. (chips), invested jointly by zheshang in Beijing, the registered capital of one hundred million yuan, offer the zhejiang, Shanghai, Beijing and other financial power and resources, capital, industry, is a diversified private investment holding group, headquartered in Beijing, China.</p>
              <div class="icons">
                  <span class="icon-industry"></span>
                  <span class="icon-plug"></span>
                  <span class="icon-invent"></span>
                  <span class="icon-plug"></span>
                  <span class="icon-yuny"></span>
                  <span class="icon-equl"></span>
                  <span class="icon-ind"></span>
              </div>
              <p>浙银控股致力于践行国家产业发展战略，坚持全球化视野，构建“产业+金融”运营模式，以实体产业夯实公司资产，以金融手段完善区域性产业链，助力产业上下游中小微企业发展，推动整个产业经济转型升级。</p>
              <!--  <p style="color: #D2C090;margin-top: 30px">Zhejiang silver holdings devoted to the practice of national industry development strategy, adhere to the global vision, build "+ financial industry" operation mode, to the entity industry consolidate the company's assets, to the financial means to improve the regional industrial chain, micro, small and medium enterprises development of upstream and downstream of the power industry, promote the transformation and upgrading the industry economy.</p> -->
          </div>
          <!-- 第二部分 -->
          <div class="sectionTwo wow bounceInRight cultural" style="height: 1080px" data-wow-duration="4s">
              <h1 style="margin-top: 102px;margin-bottom: 285px">企业文化</h1>
              <div class="culture">
                  <div class="culturitem">
                      <a href="/cultrue.html">
                          <div class="culheader">
                              愿景
                          </div>
                          <div class="culimg">
                              <img src="/img/hope.png" alt="">
                          </div>
                          <div class="culfooter">
                              国内供应链金融龙头企业<br />激活实体产业链条运转
                          </div>
                      </a>
                  </div>
                  <div class="culturitem" style="margin-top: -100px">
                      <a href="/cultrue.html">
                          <div class="culheader">
                              使命
                          </div>
                          <div class="culimg">
                              <img src="/img/inspire.png" alt="">
                          </div>
                          <div class="culfooter">
                              助力中小企业发展<br />推动产业经济转型
                          </div>
                      </a>
                  </div>
                  <div class="culturitem">
                      <a href="/cultrue.html">
                          <div class="culheader">
                              精神
                          </div>
                          <div class="culimg">
                              <img src="/img/revolution.png" alt="">
                          </div>
                          <div class="culfooter">
                              践行“商业信用”第一<br />互帮互助共同发展
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <!-- 第三部分 -->
          <div class="sectionThree wow fadeInUp" data-wow-duration="1s">
              <h1>集团产业</h1>
              <div class="group">
                  <span class="products">
          <a href="/industry.html">
            <img src="/img/product.png" alt="">
          </a>
        </span>
                  <span class="invents">
          <a href="/industry.html">
            <img src="/img/invent.png" alt="">
          </a>
        </span>
              </div>
              <div class="contact">
                  <h1>战略合作</h1>
                  <p style="margin-bottom: 60px">—— 联系方式 ——</p>
                  <p class="phone1">邮编：123456</p>
                  <p class="phone">电话：123456</p>
                  <p style="margin-bottom: 150px">———————————— 合作单位 ————————————</p>
                  <div class="company">
                      <div class="companyitem">
                          <div class="imgwrap">
                              <img src="/img/gqjr.png" alt="">
                          </div>
                          <span>有限公司</span>
                      </div>
                      <div class="companyitem">
                          <div class="imgwrap">
                              <img src="/img/gyl.png" alt="">
                          </div>
                          <span>有限公司</span>
                      </div>
                      <div class="companyitem">
                          <div class="imgwrap">
                              <img src="/img/stzy.png" alt="">
                          </div>
                          <span>有限公司</span>
                      </div>
                      <div class="companyitem">
                          <div class="imgwrap">
                              <img src="/img/zycy.png" alt="">
                          </div>
                          <span>有限公司</span>
                      </div>
                  </div>
              </div>
              <div class="member">
                  <h1>集团成员</h1>
                  <div class="conpanies">
                      <div class="companitem">
                          <div class="wrapofimg">
                              <img src="/img/c1.png" width="346" alt="">
                          </div>
                          <span>北京浙银资产管理有限公司</span>
                      </div>
                      <div class="companitem">
                          <div class="wrapofimg">
                              <img src="/img/c1.png" width="346" alt="">
                          </div>
                          <span>杭州浪淘沙投资管理有限公司</span>
                      </div>
                      <div class="companitem">
                          <div class="wrapofimg">
                              <img src="/img/c1.png" width="346" alt="">
                          </div>
                          <span>浙江厚兴股权投资基金管理有限公司</span>
                      </div>
                  </div>
                  <div class="conpanies" style="display: flex;justify-content: space-between;width: 820px;margin: 0 auto">
                      <div class="companitem">
                          <div class="wrapofimg">
                              <img src="/img/c1.png" width="346" alt="">
                          </div>
                          <span>浙江厚祥资产管理有限公司</span>
                      </div>
                      <div class="companitem">
                          <div class="wrapofimg">
                              <img src="/img/c1.png" width="346" alt="">
                          </div>
                          <span>浙江御釜信息科技有限公司</span>
                      </div>
                  </div>
              </div>
              <div class="cooperation">
                  <h1>联系我们</h1>
                  <div class="headquarters">
                      <div class="leftone">
                          <p class="des">北京总部:</p>
                          <p class="detail">地址：</p>
                          <p class="detail">电话：</p>
                          <p class="detail">邮箱：</p>
                      </div>
                      <div class="leftone">
                          <p class="des">浙江分公司:</p>
                          <p class="detail">地址：</p>
                          <p class="detail">电话：</p>
                          <p class="detail">邮箱：</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% include ./include/indexFooter.html %>
      <div class="clear"></div>
      <div class="up">
          <img src="/img/pu.png" alt="">
      </div>
  </div>
  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
  <script>
    var screemheight = $(window).height()
    console.log(screemheight)
    $('.zy .header, .sectionOne').css({
        height: screemheight
    })
    $('.icons span').hover(function() {
        $(this).addClass('changeColor')
    }, function() {
        $(this).removeClass('changeColor')
    })

    var _height = $('.header').height();
    var bodyheigh = $(window).height()
    console.log(_height)
    $('.down').click(function() {
        $('html, body').animate({
            scrollTop: bodyheigh
        }, 300)
    })
    var _height = $('.header').height();
    function showbar() {
      var bodyheigh = $(window).scrollTop();
      console.log(_height,bodyheigh)
      if (_height <= bodyheigh) {
          $('.up').show()
      } else {
          $('.up').hide()
      }
    }
    showbar()
    $(window).scroll(function() {
        showbar()
    });

    $('.up').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 300)
    })
  </script>
</body>
</html>
