<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent">
              <span>关于浙银</span>
              <span class="line wow" ></span>
            </a>
            <div class="submenu">
              <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" class="choose">
              <span>集团产业</span>
              <span class="line wow" style="display: block;"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./group.html">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html" >
              <span>新闻中心</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content clear">
      <div class="detailtitle">
        <span class="mytitle mytitle_hock mychoose">建筑骨科资源产业</span>
        <span class="mytitle mytitle_hock2">油气能源产业</span>
      </div>
      <div class="artile">
        <p>
          <span class="titlesl">一、砂石骨料产业发展现状</span><br/>
          1、行业发展状态自由<br/>
          砂石骨料产业本质上属于非金属矿采掘与初级加工业，其产品用作各类混凝土及其制品的骨料，或作为路基材料使用，是工程建设用基础材料。目前我国正处在大规模建设期，砂石骨料主要用作水泥混凝土及其制品的集料，通常每消耗一吨水泥需要配制6～7吨砂石骨料，估计目前每年消耗的砂石骨料超过150亿吨。由于采掘方式原始、缺少专业化加工设备支撑以及产品应用该技术研究基本还是空白等原有，目前的砂石骨料产业整体上处于粗放式发展阶段，但也正由于此，砂石骨料行业也是自由发展状态。<br/><br/>
          2、市场需求量大，行业前景好，“一带一路”提供砂石骨料行业发展契机<br/>
          随着中国建筑行业的大规模发展，砂石骨料行业需求量逐渐攀升，该产业仍然有较好的市场前景。同时“一带一路”的核心任务是基础设施建设，基础设施建设最基本的建筑材料就是砂石骨料，所以说“一带一路”给我们砂石行业带来的红利超过我们的想象。未来30年，砂石骨料行业的机会在哪里，“一带一路”就是发展机遇。
        </p>
        <div class="contentImg clear">
          <div class="left">
            <img src="./img/build1.png" alt="">
          </div>
          <div class="right">
            <img src="./img/build2.png" alt="">
          </div>
        </div>
         <p>
          <span class="titlesl"> 二、浙银资产在砂石骨料行业发展方向的努力</span><br/>
          1.“创新、绿色、融合”将成为产业未来发展主题<br/>
          以“创新、绿色、融合”为发展主题，以提质增效升级为发展主线，以节能减排、资源综合利用和产业结构调整为发展重点，走规化、集约化发展道路，提升产业技术发展水平、绿色发展水平和融合发展水平，推动砂石骨料产业全面升级。进一步提升矿山绿色开采水平和产品的绿色加工水平，高度重视资源综合开发和综合利用。<br/><br/>
          2.推动产业升级，促进产业绿色发展范<br/>
          产业升级将在提高生产效率、效能，增加产品功能和增强产品市场服务能力三个维度展开。推动产业升级的目的在于提高产业发展质量和发展效益，支撑点在于技术创新、管理创新和产业创新。浙银资产将进一步加强砂石骨料专用加工技术与装备的研究开发，高度重视并加强对砂石骨料应用技术的研究开发，不仅实现绿色矿山和骨料的开采加工绿色化，也推进矿山开采剥离物和骨料加工下角料等的资源化利用。
        </p>
        <p>
          <span class="titlesl"> 三、浙银集团参与的砂石骨料企业</span>
        </p>
      </div>

      <div class="artile2" style="display: none">
        <p>
          <span class="titlesl"> 一、油气能源产业战略扔可以持续百年</span><br/>
          “全球常规与非常规石油可采资源量约9000亿吨，天然气约3800万亿方，可支撑按现有水平消费数百年。”中国工程院院士、中石油勘探开发研究院院长赵文智在中国石化联合会油气专委会举办的2016油气论坛上说。
      “我们测算到2050年，中国约需42-47亿吨油当量的能源消费。基于中国现在的能源消费基础和发展战略，必须做的事就是稳油兴气。如果中国要在短期内使能源消费从二元结构，通过逐步替代，变成一个稳定的多元结构，一定要有非常强有力的中流砥柱，而这个中流砥柱就是油气工业。而稳油兴气则更要依靠‘二次创业’式颠覆性创新的勇气。”中国石油化工工程技术研究院首席专家张映红说。
　　业内普遍认为，能源转型短期还不能依靠可再生能源和核能，减煤控油意味着将进入天然气时代。天然气有望在2035-2040年超越石油成为世界第一大能源。
        </p>
        <p>
          <span class="titlesl"> 二、浙银集团在油气能源产业的实践</span>
        </p>
        <div class="contentImg clear">
          <div class="left">
            <img src="./img/c3.png" alt="">
          </div>
          <div class="right">
            <img src="./img/c4.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
<script>
   $('.mytitle_hock').click(function(){
      $(this).addClass('mychoose').siblings().removeClass('mychoose')
      $('.artile').show()
      $('.artile2').hide()
    })
    $('.mytitle_hock2').click(function(){
      $(this).addClass('mychoose').siblings().removeClass('mychoose')
      $('.artile2').show()
      $('.artile').hide()
    })


</script>
</body>
</html>
