<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent">
              <span>关于浙银</span>
              <span class="line wow" ></span>
            </a>
            <div class="submenu">
              <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" class="choose">
              <span>集团产业</span>
              <span class="line wow" style="display: block;"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./group.html">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html" >
              <span>新闻中心</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content clear">
      <div class="detailtitle">
        <span class="mytitle mytitle_hock mychoose">新疆农林产业</span>
        <span class="mytitle mytitle_hock2">广西生态旅游</span>
      </div>
      <div class="artile">
        <p>
          <span class="titlesl">一、“一带一路”为新疆地区农业发展提供契机</span><br/>
          新疆维吾尔族自治区位于我国西北边陲，欧亚大陆中部，面积166万平方公里，占全国的六分之一，是我国面积最大的省区。全区绿洲面积月7万平方公里，占全区总面积的4.2%。全区共有14个地州市，88个县（市），总人口1900多万人。
          国家西部大开发战略和“一带一路”战略使新疆农业建设迎来了难得的历史机遇，新疆地处亚欧大陆地理中心，是向西开放的桥头堡，是丝绸之路经济带上的重要节点、核心地区，依据新疆的地理位置，地缘优势等诸多条件，它既能承接国内，也能联系中亚、欧洲这一带，新疆必将是“一带一路”中一颗再次崛起的新星。
          “一带一路”为新疆农业经济发展带来了非常可观的新机遇，其对于基础设施的建设有助于越发便捷的交通，有助于农林业对外贸易的发展，“丝绸之路经济带”在新疆地区将打通新疆南北线，对于新疆农业产品走出国门，进行国际贸易有着重要的作用。
        </p>

         <p>
          <span class="titlesl"> 二、农林业是新疆地区发展的明星产业</span><br/>
          农林业作为生态建设的主题，在新疆国民经济和社会发展中具有特殊重要的地位和租用。经过50多年的建设，特别是改革开放25年来的发展，新疆生态状况明显改善，绿洲内部生态趋于稳定，绿洲低于自然灾害的能力显著提高。初步建成了以绿洲内部农田林网、绿洲外缘大型防风固林带、天然荒漠林和山区天然林为主题的立体绿色屏障。
      投资新疆农林业，不仅可以积极响应国家经济建设号召，还能为新疆农林业转型贡献力量，同时在以新兴农林业为基础的前提下获取经济效益，是一举三得的事情。
        </p>
        <p>
          <span class="titlesl"> 三、浙银集团参与的新疆农林产业</span>
        </p>
        <div class="contentImg clear">
          <div class="left">
            <img src="./img/c1.png" alt="">
          </div>
          <div class="right">
            <img src="./img/c2.png" alt="">
          </div>
        </div>
      </div>

      <div class="artile2" style="display: none">
        <p>
          <span class="titlesl"> 一、什么是“生态旅游”  </span><br/>
            “生态旅游”这一术语，最早由世界自然保护联盟（IUCN)于1983年首先提出，1993年国际生态旅游协会把其定义为：具有保护自然环境和维护当地人民生活双重责任的旅游活动。生态旅游的内涵更强调的是对自然景观的保护，是可持续发展的旅游。
      “生态旅游”不仅是指在旅游过程中欣赏美丽的景色，更强调的是一种行为和思维方式，即保护性的旅游。不破坏生态，认识生态，保护生态，达到永久的和谐，是一种层次性的渐进行为。生态旅游以旅游促进生态保护，以生态保护促进旅游，准确点数哦是有目的的前往自然地区了解环境的文化和自然历史，它不会破坏自然，还会使当地从保护自然资源中得到经济收益。
        </p>
        <p>
          <span class="titlesl"> 二、广西得天独厚的优势</span><br />
                广西位于祖国的南疆,地处东经104°29′～112°04′,北纬20°54′～26°24′之间,南北宽约610公里,东西长约750公里,总面积23.67万平方公里,居全国第九位。广西区位优越,南临北部湾,面向东南亚,西南与越南毗邻;东有经济发达的广东,离港澳台地区较近;东北与旅游强省湖南相连;西与旅游大省云南为邻;西北有旅游资源丰富的贵州省;是西南地区最便捷的出海通道,也是中国西部资源型经济与东南开放型经济的结合部,在中国与东南亚的经济交往中占有重要地位。
      　广西生态旅游资源丰富多彩,奇观胜景遍 布八桂大地有以桂林山水、北海银滩为代表的旅游胜景,有世界最大的天坑群,有亚洲最大的跨国瀑布,还有少数民族山寨、边关风情、红色旅游等多种资源,且这些生态 旅游资源大多具有品位高、组合合理的特点。这些资源为广西生态旅游赢得了巨大的发展机会。
        </p>
        <p>
          <span class="titlesl"> 三、浙银集团在广西的资源</span>
        </p>
      </div>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
<script>
   $('.mytitle_hock').click(function(){
      $(this).addClass('mychoose').siblings().removeClass('mychoose')
      $('.artile').show()
      $('.artile2').hide()
    })
    $('.mytitle_hock2').click(function(){
      $(this).addClass('mychoose').siblings().removeClass('mychoose')
      $('.artile2').show()
      $('.artile').hide()
    })


</script>
</body>
</html>
