<!DOCTYPE html>
<html>
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent">
              <span>关于浙银</span>
              <span class="line wow" ></span>
            </a>
            <div class="submenu">
              <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="" class="choose">
              <span>集团产业</span>
              <span class="line wow" style="display: block;"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./group.html">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html" >
              <span>新闻中心</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content clear">
      <div class="typepage">
        <div class="location">
           <div class="leftbar">
              <a class="subchoose positions">产业运营领域</a>
              <a class="survey">金融投资领域</a>
            </div>
            <div class="rightContent">

              <div class="desc1">
                 <div class="resouce">
                  <div class="resouceitem resouceitem_hock">
                    <div class="resouceimg">
                      <img src="./img/zycy.png" alt="">
                    </div>
                    <span>资源产业项目</span>
                  </div>
                  <div class="resouceitem resouceitem_hock2">
                    <div class="resouceimg">
                      <img src="./img/stzy.png" alt="">
                    </div>
                    <span>生态资源项目</span>
                  </div>
                </div>
                <div class="describ1">
                  <p style="color: #545454"> 签约资源产业项目，即可用形成一个产业优势。资源产业是投资回报率很高的行业，科学充分的利用资源能源能够创造无限的产业优势。浙银集团结合领先成熟的管理模式以及良好的运营模式，在国内多个资源优势地区布局资源产业项目。主要涉及的产业有有色金属、绿色矿山，砂石、油气能源等。并拥有丰富的矿山资源。</p>
                  <a href="./industryDetail.html" class="right more">查看更多 >></a>
                </div>
                <div class="describ2">
                  <p style="color: #545454"> 生态产业实际是生态工程在实体产业中的应用。浙银集团拥有雄厚的生态产业实力，主要涉及新疆的农林业基地和广西的生态旅游产业。生态产业项目的建设将积极响应国家号召，在利用资源保护资源的基础上开发生态工程。</p>
                  <a href="./industryDetail2.html" class="right more">查看更多 >></a>
                </div>

              </div>
              <div class="desc2">
                <div class="resouce">
                  <div class="resouceitem resouceitem_hock3">
                    <div class="resouceimg">
                      <img src="./img/gyl.png" alt="">
                    </div>
                    <span>供应链金融领域</span>
                  </div>
                  <div class="resouceitem resouceitem_hock4">
                    <div class="resouceimg">
                      <img src="./img/gqjr.png" alt="">
                    </div>
                    <span>股权投资领域</span>
                  </div>
                </div>

                <div class="describ3">
                  <p style="color: #545454"> 浙银资产的供应链金融领域现已包含：砂石骨料供应链金融、钢贸供应链金融、水泥行业供应链金融和跨境贸易供应链金融，未来将扩大更多领域，同时以核心企业为支撑，助力各个投资企业发展。</p>
                  <a href="./industryDetail4.html" class="right more">查看更多 >></a>
                </div>
                <div class="describ4">
                  <p style="color: #545454">   浙银资产的股权投资领域现已包含：矿业产业基金和矿业股权投资两方面，结合资源产业项目以及生态产业项目带动整条供应链的灵活运作，从源头到终端，让被投资企业不再有资金和销售压力，实力解决了供应链问题。</p>
                  <a href="./industryDetail3.html" class="right more">查看更多 >></a>
                </div>

              </div>

            </div>
        </div>

      </div>
    </div>
    <% include ./include/footer.html %>
  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
<script>
    $('.positions').hover(function(){
      $(this).addClass('subchoose').siblings().removeClass('subchoose')
      $('.desc1').show()
      $('.desc2').hide()
    })
    $('.survey').hover(function(){
      $(this).addClass('subchoose').siblings().removeClass('subchoose')
      $('.desc2').show()
      $('.desc1').hide()
    })

     $('.resouceitem_hock').hover(function(){
      $('.resouceitem_hock2').find('span').css('color','#9B9B9B')
      $(this).find('span').css('color','#D2C090')
      $('.describ1').show()
      $('.describ2').hide()
    }, function() {
      // $(this).find('span').css('color','#9B9B9B')
    })

     $('.resouceitem_hock2').hover(function(){
      $('.resouceitem_hock').find('span').css('color','#9B9B9B')
      $(this).find('span').css('color','#D2C090')
      $('.describ2').show()
      $('.describ1').hide()
    }, function() {
      // $(this).find('span').css('color','#9B9B9B')
    })

      $('.resouceitem_hock3').hover(function(){
      $('.resouceitem_hock4').find('span').css('color','#9B9B9B')
      $(this).find('span').css('color','#D2C090')
      $('.describ3').show()
      $('.describ4').hide()
    }, function() {
      // $(this).find('span').css('color','#9B9B9B')
    })
     $('.resouceitem_hock4').hover(function(){
      $('.resouceitem_hock3').find('span').css('color','#9B9B9B')
      $(this).find('span').css('color','#D2C090')
      $('.describ4').show()
      $('.describ3').hide()
    }, function() {
      // $(this).find('span').css('color','#9B9B9B')
    })
</script>
</body>
<html>
