<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent">
              <span>关于浙银</span>
              <span class="line wow" ></span>
            </a>
            <div class="submenu">
               <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" >
              <span>集团产业</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./group.html">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="#" class="choose">
              <span>新闻中心</span>
              <span class="line wow" style="display: block;"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content">
      <div class="typepage">
        <div class="location">
           <div class="leftbar">
              <a class="subchoose positions">新闻中心</a>
              <a class="survey">公司动态</a>
            </div>
            <div class="rightContent">
              <div class="desc1">
                <ul class="news">
                 <li>
                    <a>
                      <span class="titles">暂无 </span>
                    </a>
                  </li>
                  <!-- <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li> -->
                </ul>
              </div>
              <div class="desc2">
                <ul class="news">
                  <li>
                    <a>
                      <span class="titles">暂无 </span>
                    </a>
                  </li>
                  <!-- <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="titles">这里是新闻标题这里是新闻，标题这里是新闻标题这里是新闻标题这里是新闻，标题这里是新闻标题... </span>
                      <span class="right">2017/08/09</span>
                    </a>
                  </li> -->
                </ul>
              </div>

            </div>
        </div>

      </div>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
  <script src="./js/news.js"></script>
<script>
    $('.positions').hover(function(){
      $(this).addClass('subchoose').siblings().removeClass('subchoose')
      $('.desc1').show()
      $('.desc2').hide()
    })
    $('.survey').hover(function(){
      $(this).addClass('subchoose').siblings().removeClass('subchoose')
      $('.desc2').show()
      $('.desc1').hide()
    })

</script>
</body>
</html>
