<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./include/head.html %>
</head>
<body>
  <div class="zy">
    <!-- 头部 -->
    <div class="bg2">
      <div class="navs">
        <ul>
          <li class="wow fadeInDown about choose" data-wow-duration="2s">
            <a href="./index.html" class="parent choose">
              <span>关于浙银</span>
              <span class="line wow" style="display: block;"></span>
            </a>
            <div class="submenu">
               <span><a href="./intruduce.html">集团简介</a></span>
              <span><a href="./cultrue.html">企业文化</a></span>
              <span><a href="./society.html">社会责任</a></span>
              <span><a href="./honor.html">企业荣誉</a></span>
            </div>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./industry.html" >
              <span>集团产业</span>
              <span class="line wow" ></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./group.html">
              <span>集团成员</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./index.html">
              <span class="icon-logo logo"></span>
              <p>浙银资产</p>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./news.html">
              <span>新闻中心</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./cooperation.html">
              <span>战略合作</span>
              <span class="line wow"></span>
            </a>
          </li>
          <li class="wow fadeInDown" data-wow-duration="2s">
            <a href="./touchUs.html">
              <span>联系我们</span>
              <span class="line wow"></span>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <!-- 内容 -->
    <div class="content">
      <div class="typepage">
        <div class="">
        <h1 class="mk">
          社会责任
        </h1>
        <div class="society">
          <p>  在社会方面，浙银集团以“全球协议”要求自己，对内保障员工的尊严和福利待遇，对外发挥企业在社会环境中的良好作用。为社会创造财富，提供优质金融产品，改善人民的生活水平，为员工提供符合人权的劳动环境，教育职工在行为上符合社会公德，在生产方式上符合环保要求。</p>
          <div class="pirc clear">
            <div class="left">
              <img src="../img/invent.png" width="390" height="222" alt="">
            </div>
            <div class="right">
              <img src="../img/invent.png" width="390" height="222" alt="">
            </div>
            <div class="left">
              <img src="../img/invent.png" width="390" height="222" alt="">
            </div>
            <div class="right">
              <img src="../img/invent.png" width="390" height="222" alt="">
            </div>
          </div>
           <p>              在集团业务领域，浙银集团通过供应链金融的业务模式，将供应商、制造商、分销商、零售商直到最终用户，连成一个整体，全方位地为链条上的“N"个企业提供融资服务，通过相关企业的职能分工与合作，实现整改供应链的不断增值。努力实现：盘活中小企业供应链条、促进中小企业发展、强化中小企业竞争力。</p>
        </div>

        <div style="text-align: center;padding-bottom: 40px">
            <img src="../img/invent.png" width="390" height="222" alt="">
        </div>
      </div>
      </div>
    </div>
    <% include ./include/footer.html %>

  </div>

  <script src="./js/wow.js"></script>
  <script src="./js/base.js"></script>
<script>






</script>
</body>
</html>
