<div class="footer">
    <div class="friendlyLink">
        <h5>友情链接</h5>
        <div class="linkwrap">
            <a href="">浙江御釜</a>
            <a href="">浙江御釜</a>
            <a href="">浙江御釜</a>
            <a href="">浙江御釜</a>
            <a href="">浙江御釜</a>
            <a href="">浙江御釜</a>
        </div>
    </div>
    <div class="clear" style="width: 1200px;margin: 0 auto">
        <div class="lf left">
            <img src="/img/redlogo.png" alt="">
        </div>
        <div class="rf right">
            <div class="team">
                <a href="/index.html">关于浙银</a>丨
                <a href="/industry.html">集团产业</a>丨
                <a href="/group.html">集团成员</a>丨
                <a href="/news.html">新闻业务</a>丨
                <a href="/cooperation.html">战略合作 </a>丨
                <a href="/touchUs.html">联系我们 </a>
            </div>
            <p class="copyRight">www.51zheyin.com copyright © 2017  京ICP备17049610号-1 |   北京浙银资产管理版权所有</p>
        </div>
    </div>
</div>
